body {
    background-image: linear-gradient(to bottom, rgba(207, 255, 161, 0.35), rgba(207, 103, 255, 0.5));
}

h1 {
    width:600px;
    margin: 2% auto;
    font-style: italic;
    font-size: 3.2rem;
}

#calc-container {
    height: 80%;
    width: 400px;;
    margin: auto;
    border-radius:1%;
    background: white;
}

#buttons-container {
    height: 75%;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    margin: auto;
}

#buttons-container button {
    font-size: 3.2rem;
    background: rgb(221, 253, 255);
    border: none;
}

#buttons-container button:hover {
    background: linear-gradient(to top, rgba(172, 255, 255, 0.5), rgba(225, 225, 225, .95));
}

#buttons-container button:active {
    font-size: 2.9rem;
    background: linear-gradient(to top, rgba(172, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
}

#output {
    position: relative;
    height: 25%;
    margin: auto;
    text-align: right;
    padding: 5px;
}

#history {
    font-size: 3.2rem;
    font-style: italic;
    color: #888888;
    height:25%;
}

#current {
    font-size: 4.2rem;
    height: 75px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.span-two {
    grid-column: span 2;
}

#copyright {
    margin: auto;
    text-align: center;
}